body {
    font-family: "Arima Madurai", "Century Gothic", 'Lato', sans-serif;
    background-color: rgb(47, 52, 54);
  }

  .social a {
    font-family: "Arima Madurai";
    font-style: bold;
    font-size:16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .et-hero-tabs h1, h3{
    color: white;
  }

  .et-slide {
    height: 100vh;
    position: relative;
    background: rgb(47, 52, 54);
    text-align: center;
    padding: 2em 2em;
  }
  .et-hero-tabs {
    height: 100vh;
    position: relative;
    background: rgb(47, 52, 54);
    text-align: center;
    padding: 1 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .et-slide h1{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    color: white;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

  .et-hero-tabs-container {
    font-style: bold;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgb(229, 33, 39);
    z-index: 10;
  }
  .et-hero-tabs-container--top {
    position: fixed;
    top: 0;
  }
  .et-hero-tabs-container a{
    color: white;
  }

  .et-hero-tab {
    font-family:'Arima Madurai', cursive;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #ecf0f1;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 1.3rem;
  }
  .et-hero-tab:hover {
    color: black;
    background:#fff;
    transition: all 0.5s ease;
  }

  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #fff;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 180px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 35px;
    padding: 0 25px;
  }
  .content__container:before {
    content: '[';
    left: 0;
  }
  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: rgb(229, 33, 39);
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 90px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 35px;
    margin: 0;
  }

  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      -webkit-transform: translate3d(0, -25%, 0);
              transform: translate3d(0, -25%, 0);
    }
    33.32%,45.98% {
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
    }
    49.98%,62.64% {
      -webkit-transform: translate3d(0, -75%, 0);
              transform: translate3d(0, -75%, 0);
    }
    66.64%,79.3% {
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
    }
    83.3%,95.96% {
      -webkit-transform: translate3d(0, -25%, 0);
              transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      -webkit-transform: translate3d(0, -25%, 0);
              transform: translate3d(0, -25%, 0);
    }
    33.32%,45.98% {
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
    }
    49.98%,62.64% {
      -webkit-transform: translate3d(0, -75%, 0);
              transform: translate3d(0, -75%, 0);
    }
    66.64%,79.3% {
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
    }
    83.3%,95.96% {
      -webkit-transform: translate3d(0, -25%, 0);
              transform: translate3d(0, -25%, 0);
    }
  }
  .social {
    position: fixed;
    left:3px;
  }
  .social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgb(229, 33, 39);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background:#ffff;
  }
  .social ul li:hover a {
    color: white;
  }
  .social ul li:hover i {
    color: black;
    background:white;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
/* larger screens, mobile first style */
  @media (min-width: 800px) {
    html{
      font-size: 18px;
    }
    .et-hero-tabs h1,
    .et-slide h1 {
      font-size: 3rem;
    }
    .et-hero-tabs h3,
    .et-slide h3 {
      font-size: 1rem;
    }

    .et-hero-tab {
      font-size: 1.5rem;
      font-family:'Arima Madurai', cursive;
    }
    .content {
        height: 180px;
        font-size: 35px;
        line-height: 40px;
    }
    .content__container {
      font-size: 35px;
      height: 45px;
      padding: 0 45px;
    }
    .content__container__list__item {
      font-size: 35px;
      line-height: 40px;
      margin: 0;
    }
    .content__container__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
  }



.previews-card{
  text-align: center;
  margin: 1em auto;
}
.previews-card h1{
  margin-top: 30px;
  margin-bottom: 15px;
}

.previews-card .preview-card{
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
  box-sizing: border-box;
  padding-right:1.4em;
  padding-bottom:1.2em;
}

.preview-card .top,
.preview-card .middle,
.preview-card .bottom{
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  transition: transform 300ms linear-out;
}
.preview-card .top{
  z-index: 3;
  transform: scale(1.0);
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25,25,25,0.30);
}
.preview-card .top img{
  width: inherit;
  height: inherit;
}
.preview-card .middle{
  position: absolute;
  background: #aaa;
  top: 0px;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.preview-card .bottom{
  position: absolute;
  background: #ccc;
  top: 0px;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.preview-card .caption{
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  padding: 15px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.preview-card .caption .title{
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.preview-card .caption .button{
  display: inline-block;
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
  transition: all 300ms ease-in;
}


/*hovering*/
.preview-card:hover .top{
  transform: scale(1.05);
}
.preview-card:hover .middle{
 transform: rotate(-7deg);
 box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}
.preview-card:hover .bottom{
  transform: rotate(7deg);
  box-shadow: 1px 1px 2px rgba(113, 113, 113, 0.35);
}

.preview-card:hover .button{
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: 0px;
}

  
  /*
  light green: rgb(229, 33, 39)
  blackish:background: rgb(47, 52, 54);

  pitch red:rgb(229, 33, 39)
   */