* {
  box-sizing: border-box; }
#forkme:hover {
  background-color: black;
  opacity: .4%;
}
#header{
  background-image: url('https://lh3.googleusercontent.com/806BMsoSwyx0TB0O0LEgjZ3fCacdfGxFJPt8gWHIuXowzN9d407Lve7wqXqRdy7m3Ml_fJSl1jOm_Ve6SzvM4vTin3ZPZTiCuN2bmZxePipgGahX7HI37oBOcYkmOFZilVz_m-o7UnHHeXIydtotB7S-JM6xvxidx_Bs4s4AxVsKMmcpc5I2_m21LT7OpQ0fKswotafe_lr2Tj7yz1blHa7SpRlcomBpybq3fIoy6IfGh5ce0SNNl7z4LvUxbg5Nmv6yINFVK3LFL6pohPF9Mvni9UyYs5JDaTJIh9c93eaYEksAEkAnnTsDLJiQALi06W4jL-Qq8vv_IAH1Oc_sKEXa4UGiTUErZoxfQq97aQBINoZlYQuBDMJJl1mpgW4LehvumbflCpod_xw0PtWAaHv5DM4bblnGyVls1ja7eY9IhsP2ldagE9sGqRxcKgGrno33hoytMxdMNh647JJWOMAXtbWnpYmqz6sWNKUpggpoUZ_TLH8jecBdHWfsOop64GzM6EBc0XxbVf1qRGRF5cskcrt5OvBKmYgqITq0G7ko0MRcNc9Qi99TxhphYkeySNGNUvwQ-qYO9Nwbpl4CEXM7mIR5NKNNBQwfvMB5tRZc5YH_PcGjV9gtndwmIbqo4RtPZWI9ElescDy4gI8jbPx64-0f6X7jujjQ2H_aOMnpgg=w1440-h900-no');
  background-size: 100%;
  background-repeat: no-repeat;
}
html,body {
  height: 100%;
  margin: 0;
  background-color:yellow ;
  background-image: url('https://lh3.googleusercontent.com/806BMsoSwyx0TB0O0LEgjZ3fCacdfGxFJPt8gWHIuXowzN9d407Lve7wqXqRdy7m3Ml_fJSl1jOm_Ve6SzvM4vTin3ZPZTiCuN2bmZxePipgGahX7HI37oBOcYkmOFZilVz_m-o7UnHHeXIydtotB7S-JM6xvxidx_Bs4s4AxVsKMmcpc5I2_m21LT7OpQ0fKswotafe_lr2Tj7yz1blHa7SpRlcomBpybq3fIoy6IfGh5ce0SNNl7z4LvUxbg5Nmv6yINFVK3LFL6pohPF9Mvni9UyYs5JDaTJIh9c93eaYEksAEkAnnTsDLJiQALi06W4jL-Qq8vv_IAH1Oc_sKEXa4UGiTUErZoxfQq97aQBINoZlYQuBDMJJl1mpgW4LehvumbflCpod_xw0PtWAaHv5DM4bblnGyVls1ja7eY9IhsP2ldagE9sGqRxcKgGrno33hoytMxdMNh647JJWOMAXtbWnpYmqz6sWNKUpggpoUZ_TLH8jecBdHWfsOop64GzM6EBc0XxbVf1qRGRF5cskcrt5OvBKmYgqITq0G7ko0MRcNc9Qi99TxhphYkeySNGNUvwQ-qYO9Nwbpl4CEXM7mIR5NKNNBQwfvMB5tRZc5YH_PcGjV9gtndwmIbqo4RtPZWI9ElescDy4gI8jbPx64-0f6X7jujjQ2H_aOMnpgg=w1440-h900-no');
  background-size: 100%;
  background-repeat: no-repeat;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 32em) and (max-width: 41em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: inline;
    padding: 0.7  5rem;
    font-size: 0.8rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } 
      .page-findme{
        padding-top: 10%;
      }
      .project-name{
        font-size: .7rem;
      }
}
@media only screen 
    and (min-width : 375px)
    and (max-width : 667px)
    and (width : 375px)
    and (height : 559px)
    and (-webkit-min-pixel-ratio : 2){
      .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; 
      } 
}

/*@-webkit-keyframes titleAnimation {20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}20%{background:#0d9ddb;}0%{background:black;}40%{background:#f65058;}80%{background:#00ba6e;}60%{background:#ffc700;}}@-moz-keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}60%{background:#ffc700;}80%{background:#00ba6e;}}@-ms-keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}}@keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}}
*/
.page-header,{
  height: 50px;
  text-align: right;
  background-color: #159957;}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  text-align: right;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.6;}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }
@-webkit-keyframes footerAnimation {20%{background:red;}40%{background:purple;}80%{background:#00ba6e;}20%{background:#0d9ddb;}0%{background:black;}40%{background:#f65058;}80%{background:#00ba6e;}20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}60%{background-color:pink;}20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}20%{background:#0d9ddb;}0%{background-color:black;}40%{background:#f65058;}80%{background:#00ba6e;}60%{background:#ffc700;}}
.page-findme {
  text-align: right;}
.page-header, .main-content{
  padding-left:5px;
  width: auto;
  display:block;
  margin-top: 0;}
.main-content {
  overflow-y: auto;
  height: calc(100vh - 50px); }
.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

/*logo animation & style*/
@charset "UTF-8";
@-webkit-keyframes background-color{20%{background:#0d9ddb;}0%{background:black;}40%{background:#f65058;}80%{background:#00ba6e;}60%{background:#ffc700;}100%{background:black;}}@-moz-keyframes background-color{0%{background:black;}20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}100%{background:black;}}@-ms-keyframes background-color{0%{background:black;}20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}100%{background:black;}}@keyframes background-color{0%{background:black;}20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}100%{background:black;}}#header .header-wrapper{opacity:0;background:black;margin:0px auto;font-weight:bold;letter-spacing:.09em;text-align:center;font-family:'open sans',sans-serif;position:fixed;z-index:5;height:100px;width:300px;overflow:hidden;}
#header .header-wrapper.collapsed .nav{bottom:-40px;}
#header .header-wrapper.collapsed .start{letter-spacing:-.1em;}
#header .header-wrapper.animated{-webkit-animation-delay:0s;-webkit-animation-duration:90s;-webkit-animation-name:background-color;-webkit-animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;-moz-animation-delay:0s;-moz-animation-duration:120s;-moz-animation-name:background-color;-moz-animation-fill-mode:forwards;-moz-animation-iteration-count:infinite;-o-animation-delay:0s;-o-animation-duration:120s;-o-animation-name:background-color;-o-animation-fill-mode:forwards;-o-animation-iteration-count:infinite;animation-delay:0s;animation-duration:120s;animation-name:background-color;animation-fill-mode:forwards;animation-iteration-count:infinite;}
#header .header-wrapper.animated .start{-webkit-animation-delay:0s;-webkit-animation-duration:90s;-webkit-animation-name:background-color;-webkit-animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;-moz-animation-delay:0s;-moz-animation-duration:120s;-moz-animation-name:background-color;-moz-animation-fill-mode:forwards;-moz-animation-iteration-count:infinite;-o-animation-delay:0s;-o-animation-duration:120s;-o-animation-name:background-color;-o-animation-fill-mode:forwards;-o-animation-iteration-count:infinite;animation-delay:0s;animation-duration:120s;animation-name:background-color;animation-fill-mode:forwards;animation-iteration-count:infinite;}
#header .header-wrapper h1{position:relative;font-size:40px;text-align:left;margin:10px 0;}
#header .header-wrapper h1 span.wrapper span{position:relative;color:white;font-family:"Open Sans","Source Sans Pro",sans-serif;}
#header .header-wrapper h1 span.wrapper span.start{padding-left:20px;background:black;}
#header .nav{position:absolute;bottom:5px;left:15px;z-index:7;color:white;-webkit-transition:.5s;-moz-transition:.5s;transition:.5s;}
#header .nav ul{list-style:none;padding:0;margin:0;width:300px;}
#header .nav ul li{float:left;margin-right:5px;font-size:18px;}
#header .nav ul li a [class^="icon-"]{opacity:.9;}
#header .nav ul li a [class^="icon-"]:hover{opacity:1;}@font-face{font-family:"Ampersand";src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+0026;}@font-face{font-family:"Ampersand";src:local("Georgia");unicode-range:U+270C;}body{word-wrap:break-word;}pre code{word-wrap:normal;}
@viewport {
      zoom: 1.0;
      width: extend-to-zoom;
    }
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes titleAnimation {20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}20%{background:#0d9ddb;}0%{background:black;}40%{background:#f65058;}80%{background:#00ba6e;}60%{background:#ffc700;}}@-moz-keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}60%{background:#ffc700;}80%{background:#00ba6e;}}@-ms-keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}}@keyframes titleAnimation{20%{background:#0d9ddb;}40%{background:#f65058;}60%{background:#ffc700;}80%{background:#00ba6e;}}

